In [1]:
a=9
print(type(a))

<class 'int'>

myVariableOne=12            
#camelcase=each word except the first starts with a capital letter


Pascal Case
Each word starts with a capital letter:
MyVariableName = "John"

Snake Case
Each word is separated by an underscore character:
my_variable_name = "John"

In [2]:
list1=['bat','ball','cat']
a,b,c=list1
print(list1)

['bat', 'ball', 'cat']

In [3]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [4]:
x=5
y="teju"
print(x,y)

5 teju

In [5]:
print("this is my practice")
print("\n you will do it better")

this is my practice

 you will do it better

In [2]:
a=str(1)
print(a)
print(type(a))

1
<class 'str'>

In [10]:
b = "hello shravs"
print(b[2])

l

In [14]:
for i in b:
    print(i)

h
e
l
l
o

s
h
r
a
v
s

In [16]:
txt = "  The best things in life are free!"
print("free" in txt)
print("expensive" not in txt)

True
True

In [44]:
 #slicing strings
print(txt[0:2])
print(txt[2:])
print(txt[:5])
print(txt[-6:-3])

#lower and uppercase
print(txt.upper())
print(txt.lower())

#removing spaces in the beginning or end
print(txt.strip())

#replacing the words
print(txt.replace("best","worst"))

#splitting the strings
print(txt.split())

print(txt.removeprefix)
print(txt)


add=10
string="yes you are {}"
string.format(add)

print("hey \n i am sathvika")

Th
e best things in life are free!
The b
 fr
THE BEST THINGS IN LIFE ARE FREE!
the best things in life are free!
The best things in life are free!
The worst things in life are free!
['The', 'best', 'things', 'in', 'life', 'are', 'free!']
<built-in method removeprefix of str object at 0x000001E951EAA8B0>
The best things in life are free!
hey
 i am sathvika

In [2]:
list1=[1,2,[1,2,3,4,5]]
print(list1)

[1, 2, [1, 2, 3, 4, 5]]

In [5]:
import numpy as np

lst=np.array([[[[1,2],[2,5],[3,5]]]])
print(lst)

print(lst.shape)

[[[[1 2]
   [2 5]
   [3 5]]]]
(1, 1, 3, 2)